    <%= partial "navbar" %>
    <div class="banner2" style="position: absolute; background: linear-gradient(-225deg, rgba(0,1,1,0) 0%, rgba(0,1,1,0) 50%), url('images/Picture2.jpg');">
    <div class=banner2-content></div>
    <p2>"Nature is our salvation, not technology or the intellect. Tenchnology can neither save us nor destroy us. Technology can only aid the will, thus it is the will and our choiceswhich determines everything" -Bryant McGill
      <div class="footer">
        <p>Created by Elio Pani</p>
        </div>
      </div>
