    <%= partial "navbar" %>
    <div class="banner2" style="position: absolute; background: linear-gradient(-225deg, rgba(0,1,1,0) 0%, rgba(0,1,1,0) 50%), url('images/Picture3.jpg');">
          <div class="footer">
        <p>Created by Elio Pani</p>
        </div>
      </div>
