---
title: Le Wagon Middleman boilerplate
---

<div class="banner" style="position: absolute; background: linear-gradient(-225deg, rgba(0,1,1,0) 0%, rgba(0,1,1,0) 50%), url('images/Picture1.jpg');">
      <div class="banner-content">
<%= link_to "Hello, nice to meet you ! I'm Elio","acceuil.html", class: "button", style: "text-decoration: none" %>

    </div>
  </div>
</div>


